@tailwind base;
@tailwind components;
@tailwind utilities;


body {
 background-color: #f2f0fb !important;
}
/* .custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
} */